.App {
  padding: 20px 110px;
}
header {
  height: 60px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 5px #d0d0d0;
}
header input {
  width: 50%;
  height: 30px;
}
